@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #05050A; /* matches dark-950 */
  color: #e2e8f0;
}